.grid {
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 0 10px;
}

.item {
  position: relative;
  flex: 1;
  min-width: 0;
  overflow: hidden;
  background: #f0f0f0;
  border: none;
  padding: 0;
  display: block;
  cursor: pointer;
}

@media (max-width: 768px) {
  .grid {
    flex-direction: column;
    gap: 40px;
    padding: 0 32px 80px;
  }

  .loose {
    gap: 100px;
  }

  .item {
    flex: none;
    width: 100%;
  }
}
